@import "variable";
html {
  font-family: $font-stack, sans-serif;
  background-color: $base-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@media(min-width: 1114px) {
  .sport_app_header {
    background-image: url('../img/bg_header.png');
    background-repeat: no-repeat;
    background-position: calc(451px - 11px) -149px;
    background-size: 800px;
    margin-left: auto;
    margin-bottom: auto;
    max-width: 1114px;
  }
}
