@font-face {
  font-family: "Lato";
  src: local("Lato Regular"), local("${filename-regular"), local("Lato-Regular"), url("${filename-regular}.${extension}") format("${extension}"), url("${filename-regular}.${extension}") format("${extension}");
  font-weight: 400; }

@font-face {
  font-family: "Lato";
  src: local("Lato Bold"), local("${filename-bold}"), local("${filename-bold}"), url("${filename-bold}.${extension}") format("${extension}"), url("${filename-bold.${extension}") format("${extension");
  font-weight: 700; }

body {
  margin: 0;
  background-color: #F4F6F9; }

html {
  font-family: "Lato", sans-serif; }

ul {
  list-style: none;
  padding-inline-start: 0; }

a {
  text-decoration: none; }

@media (min-width: 1114px) {
  .sport_app_header {
    background-image: url("../img/bg_header.png");
    background-repeat: no-repeat;
    background-position: calc(451px - 11px) -149px;
    background-size: 800px;
    margin-left: auto;
    margin-bottom: auto;
    max-width: 1114px; } }

/* Mobile style */
.sport_app_article {
  padding-inline-end: 22px;
  padding-inline-start: 18px; }

.sport_app_header__title--link {
  text-align: center; }

/* Desktop style */
.sport_app_article__navigation--list {
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: row;
  padding-inline-start: 0;
  padding-right: 20px;
  padding-bottom: 59px; }

.image {
  max-width: 100%; }

.sport_app_container__get_started--list_wrapper svg {
  fill: #00ADEE; }

.sport_app_article__navigation__list--apple__store {
  padding-inline-end: 20px; }

.sport_app_feature__header {
  color: #333333;
  font-size: 28px; }

.sport_app_feature__list_navigation {
  display: flex;
  flex-direction: column;
  padding-block-start: 63px;
  padding-block-end: 73px; }

.sport_up_feature__list_wrapper {
  display: flex;
  flex-direction: row; }

.sport_app_feature__list {
  padding-inline-end: 22px;
  padding-inline-start: 18px;
  display: flex; }

.sport_app_feature__list_navigation:last-child {
  display: flex;
  justify-content: center;
  align-items: center; }

@media (min-width: 1114px) {
  .sport_app_main_container__get_started {
    background-color: #00ADEE;
    padding-block-start: 74px;
    padding-block-end: 66px; }
  .sport_app_article__navigation--list {
    padding-bottom: 169px; }
  .sport_app_article__navigation--list {
    display: flex;
    align-items: start;
    justify-content: end;
    flex-direction: row;
    padding-inline-start: 0; }
  .sport_app_feature {
    background-color: #FAFAFA;
    padding-block-start: 57px; }
  .sport_app_feature__list_navigation:last-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .sport_app_footer__social_media {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .sport_app_container__get_started--list_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: auto;
    margin-bottom: auto;
    max-width: 1114px; }
  .logo_sport_white {
    padding-block-end: 49px; }
  .sport_app_footer__social_media > .sport_app_footer__social_media__list_wrapper {
    order: 1; }
  .sport_app_container__get_started--list_wrapper svg {
    fill: #FFFFFF; }
  .list_paragraph {
    color: #FFFFFF;
    max-width: 194px;
    text-align: left; }
  .icon_link {
    display: flex; } }

.sport_app_article__title {
  color: #333333;
  font-size: 30px; }

.sport_app_article__description {
  color: #4F4F4F;
  font-size: 16px; }

@media (min-width: 1114px) {
  .sport_app_article {
    padding-top: 50px;
    text-align: start; }
  .sport_app_article__title {
    text-align: start;
    max-width: 546px; }
  .sport_app_article__description {
    text-align: start;
    max-width: 453px; } }

/* Mobile style */
.sport_app_article {
  text-align: center;
  padding-top: 50px; }

.sport_app_article__title {
  line-height: 1.75; }

.sport_app_article__description {
  line-height: 26px;
  margin-top: 30px;
  margin-bottom: 50px; }

.sport_app_main_container {
  background-color: #FFFFFF;
  text-align: center;
  margin-block-start: -20px; }

.sport_app_main_container div {
  padding-inline-end: 22px;
  padding-inline-start: 18px; }

.sport_app_main_container__article--header {
  font-size: 28px;
  line-height: 37px;
  color: #333333; }

.sport_app_main_container__article--description {
  font-size: 16px;
  line-height: 23px;
  color: #4F4F4F; }

.sport_app_main_container__header {
  text-align: center; }

.header_link {
  color: #00ADEE;
  text-transform: uppercase;
  line-height: 21px;
  font-size: 16px; }

.learn_more {
  font-size: 16px;
  line-height: 21px;
  color: #00ADEE; }

.sport_app_main_container__get_started--header {
  color: #333333;
  font-size: 28px;
  line-height: 37px; }

.sport_app_container__get_started--list {
  padding-block-start: 57px;
  padding-block-end: 16px;
  font-size: 16px;
  line-height: 23px;
  color: #4F4F4F; }

.sport_app_main_container__article {
  background-image: url(../img/bg_friendly_user_interface.png);
  background-repeat: no-repeat;
  background-position-y: 37%;
  background-position-x: 50%;
  padding-block-end: 700px; }

@media (min-width: 1114px) {
  .sport_app_main_container__article {
    background-image: url(../img/bg_friendly_user_interface.png);
    background-repeat: no-repeat;
    background-position: calc(-219px - 11px);
    padding-block-end: 0;
    text-align: start;
    margin-left: auto;
    margin-bottom: auto;
    max-width: 1114px; }
  .sport_app_main_container__get_started--header {
    color: #ffffff; }
  .sport_app_main_container__header--title {
    padding-block-start: 167px; }
  .sport_app_main_container__article--header {
    padding-block-end: 27px;
    padding-block-start: 27px; }
  .sport_app_main_container__article--description {
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;
    max-width: 390px; }
  .sport_app_main_container__learn_more {
    padding-block-start: 54px;
    padding-block-end: 171px; } }

.sport_app_footer {
  background-color: #00ADEE;
  padding-inline-start: 21px;
  padding-inline-end: 20px;
  padding-block-start: 43px;
  padding-block-end: 46px; }

.sport_app_footer__social_media__list_wrapper {
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: row;
  padding-inline-start: 0; }

.sport_app_footer__social_media__list {
  padding-block-end: 34px;
  padding-inline-end: 17px; }

.sport_app_footer__communication__list_wrapper {
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: row;
  padding-inline-start: 0; }

.sport_app_footer__communication__list {
  padding-inline-end: 19px; }

.communication_link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF; }
